/*
  DOSee stylesheet
  path: stylesheets/src/dosee.less

*/
:root {
  --dosee-border: 1px solid #ddd;
  --foreground: white;
  --background: black;
  --failure: red;
  --success: green;
}

/* stylelint-disable selector-id-pattern */
#doseeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#doseeCanvas {
  background-color: #000;
  border: var(--dosee-border);
  border-radius: 0.75em;
}

#doseeProgressIndicator {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 2px;
  background-color: var(--background);
  color: var(--foreground);
  text-align: justify;
}

#doseeSplashImg {
  width: auto;
  max-height: 180px;
  max-width: 180px;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#doseeSplashScreen {
  position: absolute;
  color: var(--foreground);
}

#doseeSplashTitle {
  display: block;
  font-family:
    "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande",
    "Lucida Sans",
    Arial,
    sans-serif;
  font-size: 3em;
  text-align: center;
}
/* stylelint-enable */

.dosee-crisp-render {
  /* Firefox does not support "pixelated" */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.splash-status {
  display: inline-block;
  min-width: 2em;
}

.text-failure {
  color: var(--failure);
}

.text-success {
  color: var(--success);
}

.toast {
  /* override mini-css */
  position: initial;
  transform: none;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-indent: 1em;
}
